body {
  font-family: 'Vollkorn SC', serif;
}
.card {
  height: 670px;
  width: 350px;
  border: 1px solid #ddd;
  box-shadow: 0px 5px 15px 0px rgba(153,153,153,0.5);
  margin:auto;
}
.top {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 650px;
  width: 330px;
  border: 1px solid #ddd;
  margin: 10px;
  border-radius: 4px;
  padding: 14px;
}
.bottom {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 335px;
  width: 298px;
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 5px;
}
.lista {
  list-style-type: none;
}
